.point {
  position: absolute;
  background-color: #68AEF0;
  color:#ffffff;
  font-weight: lighter;
  display: flex;
  justify-content : center;
  align-items: center;
  flex-direction: column;
  border-radius:50%;
}

.point div {
  margin: 2px 0;
}

.point_shadow {
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.point_focus:after{
    content: ' ';
    text-indent: -999px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    margin-left: -50%;
    margin-top: -50%;
    border-radius: 100%;
    -webkit-opacity:.5;
    background-color: inherit;
    -webkit-animation: breathe 3s infinite ease-in-out;
    z-index: -1;
}

@-webkit-keyframes breathe{
    0% {
        -webkit-transform:scale(.5);
        -webkit-opacity:.9;
    }
    95%{
        -webkit-transform:scale(1.5);
        -webkit-opacity:0;
    }
    100%{
        -webkit-transform:scale(.9);
        -webkit-opacity:0;
    }
}